.accounts, .repayment {
  float: left;
  padding: 10px;
}

.repayment {
  padding-left: 50px;
  width: 50%;
}

.count {
  padding: 20px 0px;
}

.submit-account {
  display: block;
  margin: 20px 10px;
  padding: 10px 20px;
}

.accounts-list {
  float: left;
}

.accounts-list > div {
  text-align: left;
  height: 20px;
  margin-top: 5px;
}

.chart {
  margin-left: -26px;
  padding-top: 20px;
}
